@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* 
primeiro fazer o mobile
posteriomente, criarmos as medidas queries com os ajustes necessarios para telas grandes
*/
body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../imagem/hypnotize.png);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h4, p, figure{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

#topo{
    background-color: rgba(24, 56, 29, 0.9);
    border-bottom: solid 1px;
    text-align: center;
    margin-bottom: 15px;
}

h1 img{
margin-top: 5px;
width: 200px;
}

nav{
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
    padding-left:1% ;
}

nav a:link, nav a:visited{
    text-decoration: none;
    color: white;
    transition: background-color 1s;
    padding: 14px 25px;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
}

nav a:hover, nav a:focus{
    background-color: #a98e12;
    color: #000;
    border-radius: 5%;
    transition: background-color 1s;
}

/* regras para o Rodapé*/
.rodape{
    border-top: solid #06632e 5px;
    background-color: #000;
    color: #7f7f80;
    text-align: center;
    width: 100%;
}

.rodape aside{
    margin: 25px;
}

.rodape img{
    margin-left: 5px;
    margin-right: 5px;
}

.rodape_conteudo{
    display: flex;
    justify-content: center;
    align-content: center;
}

.rodape_conteudo ul{
    list-style: none;
}

#logo_rodape{
    min-width: 146px;
    width: 150px;
    margin-top: 42px;
    margin-left: 10px;
}

.menu_rodape a{
    text-decoration: none;
    color: #7f7f80;
}

.menu_rodap a:hover{
    color: #fff
}

.redes img{
    min-width: 35px;
    width: 35px;
}

.redes ul{
    display: flex;
    text-align: center;
}

.redes li{
    width: 15%;
    padding:3%;
}

.assinatura{
    color: #fff;
    background-color: #7f7f80;
    text-align: center;
    height: 50px;
    padding: 1% ;
}

.assinatura p{
    padding-top: 3%;
}

/*regra para área de conteúdo principal*/
#conteudo{
    max-width: 95%;
    margin: auto;
}

#conteudo article{
    background-color: #fff;
    margin: 15px;
    padding: 1%;
    box-shadow: grey 1px 1px 5px;
}

#conteudo h2, #conteudo h3, #conteudo p{
    padding: 1% 0;
}

.titulo{
    font-size: 2em;
    color: red;
    text-align: center;
    text-transform: uppercase;
}

.destaque img{
    border-bottom: dotted #ed6d19 5px;
}

.text-destaque{
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    height: 80px;
    bottom: 100px;
    margin-top: 5px;
    width: 100%;
}

.text-destaque h2{
    color: #000 !important;
    margin-top: 5px;
    padding: 5px 0 3px 50px ;
}

.text-destaque p{
    margin-top: 5px;
    font-size: 1.1em;
    padding: 0 0 5px 50px;
}

#frase{
    color: #fff;
    background-color: #ed6d19;
    text-align: center;
    height: 80px;
}

#frase p{
    font-size: 1em;
    padding: 12px;
}